<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itdoors.haccp"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.READ_SYNC_STATS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.front" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <uses-feature android:name="android.hardware.camera.flash" android:required="false" />
    <uses-feature android:name="android.hardware.screen.landscape" />
    <uses-feature android:name="android.hardware.wifi" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" />

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_64"
        android:label="@string/app_name_haccp"
        android:theme="@style/Theme.Sherlock.Light.DarkActionBar" >
        
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
                
        <!--  
        <activity
            android:name="com.itdoors.haccp.ui.activities.MainActivity"
            android:label="@string/app_name_haccp"
            android:theme="@style/MainMenuStyle"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
          -->
        <activity
            android:name="com.itdoors.haccp.ui.activities.HomeActivity"
            android:label="@string/app_name_haccp"
            android:uiOptions="splitActionBarWhenNarrow" 
            android:theme="@style/MainMenuStyle"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
      
        <activity android:name="com.itdoors.haccp.ui.activities.PointDetailsActivity" />
        <activity android:name="com.itdoors.haccp.ui.activities.CalendarActivity" />
        <activity android:name="com.itdoors.haccp.ui.activities.AddStatisticsActivity" />
        <activity android:name="com.itdoors.haccp.ui.activities.SettingsActivity" />
        <activity android:name="com.itdoors.haccp.ui.activities.CompanyObjectsActivity"/>
        <activity android:name="com.itdoors.haccp.ui.activities.PointsListActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.default_searchable"
                       android:value="com.itdoors.haccp.ui.activities.SearchActivity" />
        </activity>
        <activity android:name="com.itdoors.haccp.ui.activities.ServicesAndContoursActivity" />
        <activity
            android:name="com.itdoors.haccp.ui.activities.SearchActivity"
            android:label="@string/title_search"
            android:launchMode="singleTop"
            >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />
        </activity>
        
        <activity android:name="com.itdoors.haccp.ui.activities.InitActivity" />
        <activity android:name="com.itdoors.haccp.ui.activities.LoginActivity"/>
        
        <activity
            android:name="com.google.zxing.client.android.CaptureActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:stateNotNeeded="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="com.itdoors.haccp.SCAN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
               
        <!-- Generic stub acount service -->
        <service android:name=".sync.accounts.GenericAccountService" android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator"
                       android:resource="@xml/authenticator" />
        </service>
        
        <!--Rest Content Provider.-->
        <provider android:authorities="com.itdoors.haccp.restcontentprovider"
                  android:name=".provider.RestContentProvider"
                  android:label="@string/provider_name"
                  android:exported="false"/>
        
        <!-- Sync adapter related service -->
        <service
                android:name=".sync.SyncService"
                android:exported="false">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                    android:name="android.content.SyncAdapter"
                    android:resource="@xml/syncadapter" />
        </service>
    
        <!-- RoboSpice service -->
        <service
            android:name="com.itdoors.haccp.rest.robospice_retrofit.MySpiceService"
            android:exported="false" />
        
    </application>

</manifest>